@font-face {
    font-family: 'KyivType';
    src: url('../fonts/KyivTypeSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'KyivType', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #4A3525;
    background-color: #FFF8E7;
}

h1 {
    font-size: 2rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.3;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #6B4226;
    border-bottom: 2px solid #4A3525;
}

header .header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #FFF8E7;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #FFF8E7;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    padding: 15px;
    border: 1px solid #6B4226;
    border-radius: 6px;
    
    /* Обмежуємо ширину картки */
    max-width: 270px; /* підберіть потрібне значення: 250px, 270px або 280px */
}

.book-cover {
    width: 100%;
    max-width: 240px;
    aspect-ratio: 3 / 4;
    height: auto;
    background-color: #D8BFA0;
}

.content-grid {
    display: grid;
    gap: 30px;
}

aside {
    background-color: #F3E5C8;
    border: 1px solid #6B4226;
    padding: 20px;
}

footer {
    font-size: 0.9rem;
    padding: 20px;
    color: #6B6258;
}

/* Планшет */
@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
}

/* Десктоп */
@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .content-grid {
        grid-template-columns: 1fr 250px;
        gap: 30px;
    }

    main {
        max-width: 1400px;
        padding: 30px;
    }
}